*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body{
        background-image: linear-gradient(rgba(0, 0, 0, 0.6),rgba(0,0,0,0.6)),url(tuz3.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        width: 100vw;
        height: 100vh;
        overflow: hidden;  
        }

        .container1{
            display: flex;
            align-items: center;
            justify-content: space-around;
            flex-wrap: wrap;
            position: relative;
            top: 1rem;
        }
        .item2 ul{
            list-style: none;
         
        }
        .item2 ul li{
            display: inline-block;
    width: 9rem;
    height: 2rem;
    line-height: 2rem;
    text-align: center;
         
        }
        .item2 ul li a{
 text-decoration: none;
color: white;
font-size: 1.5rem;
         
        }
        .item2 ul li:hover{

opacity: .6;
color: red;
}

        .container2{
position: absolute;
left: 8%;
bottom: 25%;
display: none;

    
}
h1{
    color:hotpink;
    margin-bottom: 5px;

}

h2{
    color: white;
    font-size: 2rem;
    cursor: pointer;
    display: none;
}


/* meadia query starts here*/

@media screen and (max-width: 609px) {
  
    .item2 ul li{
              display: block;
              display: none;
            
        }
h2{
    display: block;
}
 
.container1{
    flex-direction: column;
}

.container1 .item2{
    background-color:black;
    width: 100%;
    height: 100%;
    overflow: hidden;
   
 
}

.container1 .item2 ul{
   
    position: relative;
    left: 1rem;
  
  
}

button{
    width: 4rem;
    padding: 8px;
  
}
 
.container2{
    position: absolute;
    left: 8%;
    bottom: 5%;
 
    
        
    }
   
}



/* meadia query ends here*/

button{
    width: 11rem;
    background-color: chartreuse;
    border: none;
    outline: none;
    padding: 12px;
    font-size: 1.5rem;
    border-radius: 0.5rem;
    cursor: pointer;
    color:blue;
}
button:hover{
    background-color: blueviolet;
    transition: 2s;
    color: white;
}


p{
    color: white;
    margin-bottom: 1.3rem;
    font-size: 1.5rem;
    
 
}
strong{
    font-weight: 1rem;
    background-color:#FC427B;
    padding: 2px;
    margin: 2px;
    color: white;
}
